*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
}


#logo-titolo{
    background-image: url(../logo.jpeg);
    height: 100px;
    width: 100px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    
}

#titolo{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    vertical-align: middle; 
}

nav{
    width: 75%;
    height: 100px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 5rem;
    line-height: 100px;
    background-color: white;
}

.button1{
    background-color: lightblue;
    border-radius: 5px;
    border: 0px;
    margin-left: 50px;
    display: inline-block;  
    color: white;
    width: 100px;
    height: 40px;
    font-weight: 600;    
}

.button2{
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: lightgray;
    display: inline-block;
    width: 100px;
    height: 40px;
    font-weight: 600;
}